html{
  background-color: rgb(243, 239, 235);
}
  #logo{
      font-family: 'Great Vibes', cursive;
      font-weight: bolder;
      font-size: 30px;
      padding: 1rem 1rem;
  }
  main{ 
    text-align: center;
  
  }

  .content li:hover{
    background-color: rgb(255, 0, 255);
    border-radius: 10px;
    transition: 0.5s;
  }
 
  .img{
    display: flex;
    justify-content: center;
  }
  .img > img{
    border-radius: 50%;
  }
  
  .logo{
    font-size: 50%;
  }
  .hero-name{
    font-family: 'Bebas Neue', sans-serif;
  }
  .bio{
    text-align: center;
    padding: 3rem 2rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(170, 202, 141);
  }
  footer{
    height: 100px;
    text-align: center;
    background-color: rgb(217, 233, 228);
    color: rgb(20, 7, 7);
  }