html{
  background-color: rgb(243, 239, 235);
}
  #logo{
      font-family: 'Great Vibes', cursive;
      font-weight: bolder;
      font-size: 30px;
      padding: 1rem 1rem;
  }
  main{ 
    
  }
  .content li:hover{
    background-color: rgb(255, 0, 255);
    border-radius: 10px;
    transition: 0.5s;
  }
  .container{
    background-color:;
    margin: 1rem 1rem;
  }
  .img{
    display: flex;
    justify-content: center;
  }
  .img > img{
    border-radius: 50%;
  }
  .row{
    padding: 3rem 1rem;
  }
  .logo{
    font-size: 50%;
  }
  .hero-name{
    font-family: 'Bebas Neue', sans-serif;
  }
  .bio{
    text-align: center;
    padding-top: 2rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  footer{
    height: 100px;
    text-align: center;
    background-color: aquamarine;
    color: rgb(216, 12, 12);
  }